h1	{
	text-align: center;
	font-size: 60px;
	color: white;
	font-family: "Lucida Handwriting"
}
header{
	background: rgb(127, 20, 49);
	padding-top: 50px;
	float: left;
	width: 100%;
	margin-bottom: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(127, 20, 49);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:rgb(204, 186, 120);
}

.active {
  background-color:rgb(204, 186, 120);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
}
th{
	  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background: rgb(204, 186, 120);
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.maali {
	text-align: center;
	font-family: "Lucida Handwriting"
}